Series â€“ 1D labeled array (like a column)

In [13]:
import pandas as pd

s = pd.Series([10, 20,30], index=['a', 'b', 'c'])
print(s)
print(s['b']) #access by label b

a    10
b    20
c    30
dtype: int64
20

DataFrame: 2D table (rows + columns)

In [14]:
import pandas as pd

data = {
    'Name': ['Rupesh', 'Prishma', 'Ayusm'],
    'Age': [23, 20, 20]}
df = pd.DataFrame(data)
print(df)

      Name  Age
0   Rupesh   23
1  Prishma   20
2    Ayusm   20

 Reading & Writing CSV

In [15]:
import pandas as pd

#step1:create a dataframe
data = {
    'Name': ['Rupesh', 'Prishma', 'Ayusm'],
    'Age': [23, 20, 20],
    'City': ['Kathmandu', 'Lalitpur', 'Bhaktapur']
    }

df = pd.DataFrame(data)

#step2:save it to a csv file
df.to_csv('data.csv', index=False)

#step3:read the csv file
df_loaded = pd.read_csv('data.csv')

#step4:print the loaded dataframe
print("Loaded data form CSV:")
print(df_loaded)

#step5:save again to a new csv file
df_loaded.to_csv('data_copy.csv', index=False)
print("Data saved to data_copy.csv successfully.")

Loaded data form CSV:
      Name  Age       City
0   Rupesh   23  Kathmandu
1  Prishma   20   Lalitpur
2    Ayusm   20  Bhaktapur
Data saved to data_copy.csv successfully.

Filtering and Selection

In [16]:
#load csv file 

df = pd.read_csv('data.csv')

print("full dataframe:")
print(df)

#select a single column
print("\nName column:")
print(df['Name'])

#select multiple columns
print("\nName and city columns:")
print(df[['Name', 'City']])

#select rows by index
print("\n First row (index 0):")
print(df.iloc[0]) #by position
print(df.loc[0]) #by label

#filter rows based on condition
print("\nRows where Age > 20:")
print(df[df['Age'] > 20])

#filter rows based on multiple conditions
print("\nRows where Age > 20 and City is Kathmandu:")
print(df[(df['Age'] > 20) & (df['City'] == 'Kathmandu')])

#query method(shortcut for filtering)
print("\nUsing query method - Rows where Age > 20:")
print(df.query('Age > 20'))

full dataframe:
      Name  Age       City
0   Rupesh   23  Kathmandu
1  Prishma   20   Lalitpur
2    Ayusm   20  Bhaktapur

Name column:
0     Rupesh
1    Prishma
2      Ayusm
Name: Name, dtype: object

Name and city columns:
      Name       City
0   Rupesh  Kathmandu
1  Prishma   Lalitpur
2    Ayusm  Bhaktapur

 First row (index 0):
Name       Rupesh
Age            23
City    Kathmandu
Name: 0, dtype: object
Name       Rupesh
Age            23
City    Kathmandu
Name: 0, dtype: object

Rows where Age > 20:
     Name  Age       City
0  Rupesh   23  Kathmandu

Rows where Age > 20 and City is Kathmandu:
     Name  Age       City
0  Rupesh   23  Kathmandu

Using query method - Rows where Age > 20:
     Name  Age       City
0  Rupesh   23  Kathmandu

GroupBy & Aggregation

In [17]:
#grouping by city and caluculating average age
avg_age_by_city = df.groupby('City')['Age'].mean()

#group by city and count people
count_by_city = df.groupby('City')['Name'].count()

print("\nAverage age by city:")
print(avg_age_by_city)
print("\nCount by city:")
print(count_by_city)

Average age by city:
City
Bhaktapur    20.0
Kathmandu    23.0
Lalitpur     20.0
Name: Age, dtype: float64

Count by city:
City
Bhaktapur    1
Kathmandu    1
Lalitpur     1
Name: Name, dtype: int64